{{'cart.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart.js' | asset_url }}" defer></script>

<div class="py-20 bg-gray-100 border-b">
    <div class="container">
        {% if cart.item_count > 0 %}
            <cart-items items: "{{-cart.items | json-}}"></cart-items>
        {% else %}
            <p>Cart is empty</p>
        {% endif %}
    </div>
</div>
