{{'collection.css' | asset_url | stylesheet_tag }}
<script src="{{ 'collection.js' | asset_url }}" defer></script>

{% assign collection_json = collection | json | replace: "'", \2019 %}


<div class="py-20 bg-gray-100 border-b">
    <div class="container">
        <collection-main config='{{collection_json}}' productcount='{{collection.all_products_count}}'></collection-main>
    </div>
</div>
